/* Attributes */
body{background-color: #0a0c1b;}

  h4{color: white; margin-top: 80px; font-size: 30px; font-weight: bold;}

  p{
  font-family: 'Lexend Deca', sans-serif; margin: 0;
  font-size: 15px;}
/* -------------------------------------------------------------------- */
/* Card Section */
#Card{padding: 10%;}

.row{border-radius: 1%;
  background-color: #1c1938;
      padding: 0;}
/* Image Side */
img{margin: 0;
    width: 100%;
    height: 100%;
  z-index: 1;}

.overlay{ width: 100%;
height:100%;
  margin: 0;
         background-color:#ab67d6;
         position: absolute;
         bottom: 0px;
       z-index: 2;
      opacity: 50%;
    mask-composite: exclude}

/* Content Side */
.content{padding: 8%}
/* Main Heading */
h1{font-family: 'Inter', sans-serif;
   color: white;
 font-weight: 700;
 font-size: 25pt;
}

span{color: #ab67d6;}

/* --- Sub ---*/
.sub{font-family: 'Lexend Deca', sans-serif;
  margin:7% 0;
 font-size: 20px;
color: hsla(0, 0%, 100%, 0.75)}

.info{color:hsla(0, 0%, 100%, 0.6);
    }

/* footer */

#footer{text-align: center;
       margin: 50px 0 0;
      background-color: #440A67;
      padding: 1% 7%;
      color: white;}

/* Media Query */
@media (max-width:991px) {
  body{text-align: center;}
  .table{
   display: flex;
    flex-flow: column-reverse;
     }
  h4{margin-top: 30px;}

}
@media (max-width:1440px){
.sub{font-size: 15px;}

}
